@{

    List<CurrencyBaseViewModel> availableCurrencies = new();

    if (TempData.ContainsKey("AvailableCurrencies"))
    {
        availableCurrencies = (List<CurrencyBaseViewModel>)TempData["AvailableCurrencies"];
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CWA.API.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">CryptoApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">All Currencies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Converter">Converter</a>
                        </li>
                    </ul>

                    <div class="input-group header-input-group">
                        <div class="form-outline">
                            <input type="search" id="availableCurrency" list="searchAvailableCurrencies" class="form-control header-search-input" placeholder="Search Currency here..." />
                        </div>

                        <button type="button" id="openCurrencyDetailsPage" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>

                        <datalist id="searchAvailableCurrencies">
                            @foreach (var currency in availableCurrencies)
                            {
                                <option value="@currency.Id">@(currency.Name + $" ({currency.Symbol})")</option>
                            }
                        </datalist>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-content container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CryptoApp - <a>Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>